<footer class="footer bg-dark text-white text-center py-3 mt-auto">
    <div class="container">
        <p>
            &copy; 2025
            <a
                class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
                href="https://github.com/naok-000"
                >naok-000</a
            >.
        </p>
    </div>
</footer>
