<!-- タスク一覧のナビゲーションタブ -->
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <button
            class="nav-link active"
            data-bs-toggle="tab"
            data-bs-target="#allTasks"
            type="button"
        >
            すべて
        </button>
    </li>
    <li class="nav-item">
        <button
            class="nav-link"
            data-bs-toggle="tab"
            data-bs-target="#notStarted"
            type="button"
        >
            未着手
        </button>
    </li>
    <li class="nav-item">
        <button
            class="nav-link"
            data-bs-toggle="tab"
            data-bs-target="#inProgress"
            type="button"
        >
            進行中
        </button>
    </li>
    <li class="nav-item">
        <button
            class="nav-link"
            data-bs-toggle="tab"
            data-bs-target="#completed"
            type="button"
        >
            完了
        </button>
    </li>
</ul>
