<% layout('layouts/boilerplate.ejs') %>
<div class="container mt-4">
    <h1 class="mb-4">すべてのタスク</h1>
    <div class="tab-content mt-3">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <%- include('../partials/taskCard.ejs', { tasks:inProgress,
                status: taskStatus.IN_PROGRESS, includeProjectName: true }) %>
            </div>
            <div class="col">
                <div class="col">
                    <%- include('../partials/taskCard.ejs', { tasks:notStarted,
                    status: taskStatus.NOT_STARTED, includeProjectName: true })
                    %>
                </div>
            </div>
            <div class="col">
                <div class="col">
                    <%- include('../partials/taskCard.ejs', { tasks:completed,
                    status: taskStatus.COMPLETED, includeProjectName: true }) %>
                </div>
            </div>
        </div>
    </div>
</div>
