<% layout('layouts/boilerplate.ejs') %>
<h1>新規タスク</h1>
<form action="/tasks" method="post">
    <div>
        <label for="title">タイトル</label>
        <input type="text" id="title" name="task[title]" required />
    </div>
    <div>
        <label for="description">詳細</label>
        <textarea id="description" name="task[description]"></textarea>
    </div>
    <button type="submit">登録</button>
</form>
