<!-- 1つのタスク -->
<div class="list-group-item">
    <div class="d-flex w-100 justify-content-between">
        <div class="d-flex flex-column">
            <h6><%= task.title %></h6>
            <a
                href="/projects/<%= task.project._id %>"
                class="link-secondary link-offset-1 link-underline-opacity-0 link-underline-opacity-100-hover"
                ><%= task.project.title %></a
            >
        </div>
        <small class="text-muted"><%= task.status %></small>
    </div>
</div>
